<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	<p>Hello, <%= user.username %>. View your <a href="/profile">profile</a>.</p>
	<p> My Pages: <a href="/mypages">click here</a></p>
	<p> My Permission: <a href="/mypermissions">click here</a></p>
<% } %>
